/*
tr.even {  background-color: #e0e0ff; }
tr.odd {  background-color: #eeeeee;}	
*/
tr.even {
background-color: #F2F2ED;
border: 1px solid #CCC;
vertical-align: center;
}

tr.odd {
background-color: #FFFFFF;
border: 1px solid #CCC;
vertical-align: center;
}

tr.rowHeader {
background-color: #D6E7FF;
border: 1px solid #CCCCCC;
}

table.gridbody {
border-collapse: collapse;
background-color: white;
border: 1px solid #CCCCCC;
}

table.gridbodyBOLD {
border-collapse: collapse;
background-color: white;
border: 2px solid #999999;
}

th.headerRow {
    background-color: #D6E7FF;
    border: 1px solid #CCCCCC;
    font-family: Arial,Verdana,MS Sans Serif;
    font-size: 12px;
    padding: 2px 2px;
}

td.oddRow {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-family: Arial,Verdana,MS Sans Serif;
    font-size: 12px;
    padding: 2px 2px;
}

td.evenRow {
    background-color: #F2F2ED;
    border: 1px solid #CCCCCC;
    font-family: Arial,Verdana,MS Sans Serif;
    font-size: 12px;
    padding: 2px 2px;
}

#outer-table {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    width: 280px;
    height: 600px;
    overflow: auto;
    float: left;
}
#outer-result1 {    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    width: 660px;
    height: 600px;
    overflow: auto;
    float: left;
}
#outer-result2 {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    width: 280px;
    height: 600px;
    overflow: auto;
    float: left;
}
#outer-result3 {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    width: 300px;
    height: 600px;
    overflow: auto;
    float: left;
}

#inner-result1 { margin: 5px; }
#inner-result2 { margin: 5px; }
#inner-result3 { margin: 5px; }

#tableList {
    width: 250px;
    height: 600px;
    overflow: auto;
}

#outer-data {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    width: 600px;
    height: 600px;
    overflow: auto;
    float: left;
}

#inner-table {
	margin: 5px;
}

#inner-data {
    margin: 5px;
}

a:link              { color: #000099; text-decoration:none; }
a:visited           { color: #000099; text-decoration:none; }
a:hover             { color: #990000; text-decoration:underline; }
a:active            { color: #FF0000; text-decoration:underline; }

body, th, td {
    font: 12px Arial,Helvetica,sans-serif;
}

#table-detail {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    width: 800px;
    padding: 2px;
    margin: 2px;
	background-color: #eeeeee;
}

#table-lookup {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    width: 800px;
    margin: 10px;
	background-color: #eeeeee;
}

.nullstyle {
    color: #999999;
}

.rowcountstyle {
    color: #993333;
}

.item-selected {
	color: #FF0000; font-weight: bold; 
}

html.busy, html.busy * {  
  cursor: wait !important;  
}

.qryBtn {
	border: 1px solid #CCCCCC;
    margin: 5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;    
}

.datahighlight_old {
        background-color: #ffdc87 !important;
}

.datahighlight {
        background-color: yellow !important;
}

.mainBtn {
	border: 0px solid #CCCCCC;
/*    margin: 2px;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:2px;
	padding-left:2px;
*/	    
}


.meter-wrap{
    position: relative;
}

.meter-wrap, .meter-value, .meter-text {
    /* The width and height of your image */
    width: 155px; height: 30px;
}

.meter-wrap, .meter-value {
    background: #bdbdbd url(../image/meter-outline.png) top left no-repeat;
}

.meter-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;

    color: #fff;
    text-align: center;
    width: 100%;
}




#outer-helper {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    width: 280px;
    height: 300px;
    overflow: auto;
    float: left;
}

#inner-helper {
	margin: 5px;
}

#outer-detail {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    width: 400px;
    height: 300px;
    overflow: auto;
    float: left;
}

#inner-detail {
	margin: 5px;
}

.cpas {
    color: green;
}

.cpas2 {
    color: #996600;
}

.pk {
    color: #DF0101;
    font-weight: bold;
}

.primary-key {
    color: #DF0101;
	font-weight: bold;
}

#tabs {
    width: 280px;
    height: 600px;
    float: left;
}
