#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

.waitontop {
    position:absolute;
    top:435;
    left:300;
    z-index:11;
}

#waitimg {
	position:relative;
	top: -220;
	left: 100;
    z-index:11;
}